.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    margin: 30px;
    
  }
  
  .product-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
  }
  .cart-title{
    text-align: center;
  }
  .cart-container hr {
    background-color: black;
    padding: 1.5px;
    border: none;

  }
  .cart-container {
    background-color: #FF6B6B;
    height: 500px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41);
  

  }
  .emty-msg{
    text-align: center;
    margin-top: 50px;
    
  }
  .random-button, .reset-button{
    display: none;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41);
    margin: 5px 6px;
    border: none;
    padding: 10px 10px;
    background-color: #FF6B6B;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  /* responsive code for mobile  */
  @media only screen and (max-width: 600px) {
    
    .product-container {
      height: auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    
    }
    .cart-container {
      height: 460px;
      margin: 20px 10px;
    }
    .main-container {
      display: flex;
      flex-direction: column-reverse;
      grid-gap: 5px;
      margin: 10px;
      
    }
   
  
  }