.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
}
.product-container {

  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 30px;
}
.cart-container{
  background-color: aqua;
  height: 500px;
}
