.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container {
  background-color:yellow ;
  height: 500px;
}
.cart-container{
  background-color: aqua;
  height: 500px;
}
